@charset "UTF-8";
/*sassを使用して制作*/
/*compass読み込み*/
/*ベースファイル読み込み*/
/* common
-------------------------------------*/
/* line 6, ../sass/_base.scss */
* {
  margin: 0px;
  padding: 0px; }

/* line 11, ../sass/_base.scss */
body {
  line-height: 160%;
  line-height: 1.6; }

/* line 17, ../sass/_base.scss */
a img {
  border: 0px;
  vertical-align: bottom; }

/* line 21, ../sass/_base.scss */
img {
  vertical-align: bottom; }

/* line 24, ../sass/_base.scss */
a, area {
  text-decoration: none; }

/* line 28, ../sass/_base.scss */
option {
  padding: 0 5px 0 0; }

/* title
-------------------------------------*/
/* line 34, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

/* character setting
-------------------------------------*/
/* line 41, ../sass/_base.scss */
strong {
  font-weight: bold; }

/* line 45, ../sass/_base.scss */
em {
  font-style: normal; }

/* line 49, ../sass/_base.scss */
address {
  font-style: normal; }

/* list
-------------------------------------*/
/* line 55, ../sass/_base.scss */
ul {
  list-style-type: none; }

/* line 58, ../sass/_base.scss */
ol {
  padding: 0 10px 8px 20px; }

/* line 61, ../sass/_base.scss */
ol li {
  padding: 0 0 8px 0px; }

/* table
-------------------------------------*/
/* line 67, ../sass/_base.scss */
table,
th,
td {
  padding: 3px; }

/* line 73, ../sass/_base.scss */
caption {
  text-align: left; }

/* align
-------------------------------------*/
/* line 79, ../sass/_base.scss */
.alnleft {
  text-align: left; }

/* line 83, ../sass/_base.scss */
.alncenter {
  text-align: center; }

/* line 87, ../sass/_base.scss */
.alnright {
  text-align: right; }

/* line 91, ../sass/_base.scss */
.fltleft {
  float: left; }

/* line 95, ../sass/_base.scss */
.fltright {
  float: right; }

/* font-size
-------------------------------------*/
/* line 101, ../sass/_base.scss */
.txtxxsmall {
  font-size: xx-small; }

/* line 102, ../sass/_base.scss */
.txtxsmall {
  font-size: x-small; }

/* line 103, ../sass/_base.scss */
.txtsmall {
  font-size: small; }

/* line 104, ../sass/_base.scss */
.txtsmaller {
  font-size: smaller; }

/* line 105, ../sass/_base.scss */
.txtxxlarge {
  font-size: xx-large; }

/* line 106, ../sass/_base.scss */
.txtxlarge {
  font-size: x-large; }

/* line 107, ../sass/_base.scss */
.txtlarge {
  font-size: large; }

/* line 108, ../sass/_base.scss */
.txtlarger {
  font-size: larger; }

/* line 109, ../sass/_base.scss */
.txtmed {
  font-size: medium; }

/* line 110, ../sass/_base.scss */
.txt09 {
  font-size: 9px; }

/* line 111, ../sass/_base.scss */
.txt10 {
  font-size: 10px; }

/* line 112, ../sass/_base.scss */
.txt11 {
  font-size: 11px; }

/* line 113, ../sass/_base.scss */
.txt12 {
  font-size: 12px; }

/* line 114, ../sass/_base.scss */
.txt13 {
  font-size: 13px; }

/* line 115, ../sass/_base.scss */
.txt14 {
  font-size: 14px; }

/* line 116, ../sass/_base.scss */
.txt15 {
  font-size: 15px; }

/* line 117, ../sass/_base.scss */
.txt16 {
  font-size: 16px; }

/* line 118, ../sass/_base.scss */
.txt17 {
  font-size: 17px; }

/* line 119, ../sass/_base.scss */
.txt18 {
  font-size: 18px; }

/* line 120, ../sass/_base.scss */
.txt19 {
  font-size: 19px; }

/* line 121, ../sass/_base.scss */
.txt20 {
  font-size: 20px; }

/* line 122, ../sass/_base.scss */
.txt21 {
  font-size: 21px; }

/* line 123, ../sass/_base.scss */
.txt22 {
  font-size: 22px; }

/* line 124, ../sass/_base.scss */
.txt23 {
  font-size: 23px; }

/* line 125, ../sass/_base.scss */
.txt24 {
  font-size: 24px; }

/* line 126, ../sass/_base.scss */
.txt25 {
  font-size: 25px; }

/* line 127, ../sass/_base.scss */
.txt26 {
  font-size: 26px; }

/* line 128, ../sass/_base.scss */
.txt80 {
  font-size: 80%; }

/* line 129, ../sass/_base.scss */
.txt90 {
  font-size: 90%; }

/* line 130, ../sass/_base.scss */
.txt110 {
  font-size: 110%; }

/* line 131, ../sass/_base.scss */
.txt120 {
  font-size: 120%; }

/* line 132, ../sass/_base.scss */
.txt130 {
  font-size: 130%; }

/* line 133, ../sass/_base.scss */
.txt140 {
  font-size: 140%; }

/* line 134, ../sass/_base.scss */
.txt150 {
  font-size: 150%; }

/* color
-------------------------------------*/
/* line 138, ../sass/_base.scss */
.clrred {
  color: #da423e; }

/* line 139, ../sass/_base.scss */
.clrblue {
  color: #279ab3; }

/* line 140, ../sass/_base.scss */
.clryellow {
  color: #ddb410; }

/* line 141, ../sass/_base.scss */
.clrorange {
  color: #fe501a; }

/* line 142, ../sass/_base.scss */
.clrorange2 {
  color: #F39219; }

/* line 143, ../sass/_base.scss */
.clrgreen {
  color: #0C3; }

/* line 144, ../sass/_base.scss */
.clrpink {
  color: #FF999C; }

/* line 145, ../sass/_base.scss */
.clrbrown {
  color: #a87c1c; }

/* line 146, ../sass/_base.scss */
.clrwhite {
  color: #FFF; }

/* line 147, ../sass/_base.scss */
.clr333 {
  color: #333; }

/* line 148, ../sass/_base.scss */
.clr666 {
  color: #666; }

/* line 149, ../sass/_base.scss */
.clr999 {
  color: #999; }

/* line 150, ../sass/_base.scss */
.clrCCC {
  color: #CCC; }

/* line 151, ../sass/_base.scss */
.clrpurple {
  color: #896795; }

/* line 153, ../sass/_base.scss */
.clrkeiei {
  color: #103c70; }

/* line 156, ../sass/_base.scss */
.clrjinbun {
  color: #9e0a0f; }

/* line 159, ../sass/_base.scss */
.clrshinri {
  color: #9e0a0f; }

/* line 162, ../sass/_base.scss */
.clrkyouiku {
  color: #6a3f76; }

/* line 165, ../sass/_base.scss */
.clrsports {
  color: #109359; }

/* line 168, ../sass/_base.scss */
.clrkanri {
  color: #de702d; }

/* background
-------------------------------------*/
/* line 174, ../sass/_base.scss */
.bg01 {
  background: #F8FBFD; }

/* line 175, ../sass/_base.scss */
.bg02 {
  background: #ADDBFA; }

/* line 176, ../sass/_base.scss */
.bg03 {
  background: #DEF0FB; }

/* line 177, ../sass/_base.scss */
.bg04 {
  background: #FEF9E9; }

/* line 178, ../sass/_base.scss */
.bg05 {
  background: #D3F1A0; }

/* line 179, ../sass/_base.scss */
.bg06 {
  background: #f8d9d8; }

/* line 180, ../sass/_base.scss */
.bg07 {
  background: #A0A9F1; }

/* line 181, ../sass/_base.scss */
.bg08 {
  background: #e50112;
  color: #fff; }

/* line 182, ../sass/_base.scss */
.bg09 {
  background: #FDE297; }

/* line 183, ../sass/_base.scss */
.bg10 {
  background: #EFEFEF; }

/* line 184, ../sass/_base.scss */
.bg11 {
  background: #F4F4F4; }

/* line 185, ../sass/_base.scss */
.bg12 {
  background: #EEEEDC; }

/* line 186, ../sass/_base.scss */
.bg13 {
  background: #F6F6EE; }

/* line 187, ../sass/_base.scss */
.bg14 {
  background: #776655; }

/* line 188, ../sass/_base.scss */
.bg15 {
  background: #EDF3FE; }

/* line 189, ../sass/_base.scss */
.bg16 {
  background: #F9F9F9; }

/* line 190, ../sass/_base.scss */
.bg17 {
  background: #7161C4; }

/* line 191, ../sass/_base.scss */
.bg18 {
  background: #2ABE0F;
  color: #fff; }

/* line 192, ../sass/_base.scss */
.bg19 {
  background: #FF0B0B; }

/* line 193, ../sass/_base.scss */
.bg20 {
  background: #FFB82B; }

/* line 194, ../sass/_base.scss */
.bg21 {
  background: #7CA20A; }

/* line 195, ../sass/_base.scss */
.bgfff {
  background: #FFF; }

/* line 196, ../sass/_base.scss */
.bgccc {
  background: #ccc; }

/* line 198, ../sass/_base.scss */
.bgkeiei {
  background: #103c70; }

/* line 201, ../sass/_base.scss */
.bgjinbun {
  background: #9e0a0f; }

/* line 204, ../sass/_base.scss */
.bgshinri {
  background: #9e0a0f; }

/* line 207, ../sass/_base.scss */
.bgkyouiku {
  background: #6a3f76; }

/* line 210, ../sass/_base.scss */
.bgsports {
  background: #109359; }

/* line 213, ../sass/_base.scss */
.bgkanri {
  background: #de702d; }

/*margin
------------------------------------*/
/* line 219, ../sass/_base.scss */
.ma20 {
  margin: 20px; }

/* line 220, ../sass/_base.scss */
.ma10 {
  margin: 10px; }

/* line 221, ../sass/_base.scss */
.ma05 {
  margin: 5px; }

/* line 222, ../sass/_base.scss */
.mt25 {
  margin-top: 25px; }

/* line 223, ../sass/_base.scss */
.mt20 {
  margin-top: 20px; }

/* line 224, ../sass/_base.scss */
.mt10 {
  margin-top: 10px; }

/* line 225, ../sass/_base.scss */
.mt05 {
  margin-top: 5px; }

/* line 226, ../sass/_base.scss */
.mb30 {
  margin-bottom: 30px; }

/* line 227, ../sass/_base.scss */
.mb25 {
  margin-bottom: 25px; }

/* line 228, ../sass/_base.scss */
.mb20 {
  margin-bottom: 20px; }

/* line 229, ../sass/_base.scss */
.mb15 {
  margin-bottom: 15px; }

/* line 230, ../sass/_base.scss */
.mb10 {
  margin-bottom: 10px; }

/* line 231, ../sass/_base.scss */
.mb05 {
  margin-bottom: 5px; }

/* line 232, ../sass/_base.scss */
.mr20 {
  margin-right: 20px; }

/* line 233, ../sass/_base.scss */
.mr10 {
  margin-right: 10px; }

/* line 234, ../sass/_base.scss */
.mr05 {
  margin-right: 5px; }

/* line 235, ../sass/_base.scss */
.ml20 {
  margin-left: 20px; }

/* line 236, ../sass/_base.scss */
.ml15 {
  margin-left: 15px; }

/* line 237, ../sass/_base.scss */
.ml10 {
  margin-left: 10px; }

/* line 238, ../sass/_base.scss */
.ml05 {
  margin-left: 5px; }

/* line 239, ../sass/_base.scss */
.mtb20 {
  margin: 20px 0; }

/* line 240, ../sass/_base.scss */
.mtb10 {
  margin: 10px 0; }

/* line 241, ../sass/_base.scss */
.mtb05 {
  margin: 5px 0; }

/*padding
------------------------------------*/
/* line 245, ../sass/_base.scss */
.pa20 {
  padding: 20px; }

/* line 246, ../sass/_base.scss */
.pa10 {
  padding: 10px; }

/* line 247, ../sass/_base.scss */
.pa05 {
  padding: 5px; }

/* line 248, ../sass/_base.scss */
.pt20 {
  padding-top: 20px; }

/* line 249, ../sass/_base.scss */
.pt10 {
  padding-top: 10px; }

/* line 250, ../sass/_base.scss */
.pt05 {
  padding-top: 5px; }

/* line 251, ../sass/_base.scss */
.pb20 {
  padding-bottom: 20px; }

/* line 252, ../sass/_base.scss */
.pb10 {
  padding-bottom: 10px; }

/* line 253, ../sass/_base.scss */
.pb05 {
  padding-bottom: 5px; }

/* line 254, ../sass/_base.scss */
.pr20 {
  padding-right: 20px; }

/* line 255, ../sass/_base.scss */
.pr10 {
  padding-right: 10px; }

/* line 256, ../sass/_base.scss */
.pr05 {
  padding-right: 5px; }

/* line 257, ../sass/_base.scss */
.pl20 {
  padding-left: 20px; }

/* line 258, ../sass/_base.scss */
.pl10 {
  padding-left: 10px; }

/* line 259, ../sass/_base.scss */
.pl05 {
  padding-left: 5px; }

/* float
-------------------------------------*/
/* line 262, ../sass/_base.scss */
.fltleft {
  float: left; }

/* line 263, ../sass/_base.scss */
.fltright {
  float: right; }

/*clear*/
/* line 266, ../sass/_base.scss */
.clear {
  clear: both;
  font-size: 1px; }

/* floatさせたボックスが親ボックスの外にはみ出す現象を回避（ここから）
-------------------------------------*/
/* line 272, ../sass/_base.scss */
.clearbox,
.clearfix {
  min-height: 1px; }

/* line 276, ../sass/_base.scss */
.clearbox:after,
.clearfix:after {
  content: ".";
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
  font-size: 0.1em;
  line-height: 0; }

/* line 287, ../sass/_base.scss */
.clearbox,
.clearfix {
  display: inline-table; }

/* Mac IE には適用させない \*/
/* line 290, ../sass/_base.scss */
* html .clearbox,
* html .clearfix {
  height: 1px; }

/* line 292, ../sass/_base.scss */
.clearbox,
.clearfix {
  display: block; }

/* */
/* floatさせたボックスが親ボックスの外にはみ出す現象を回避（ここまで） */
/*--------------------------------------------------------------------------
*/
/*----上へ戻る----*/
/*.gotop{
	padding:10px 0 20px 0;

}
.contents .gotop p{
	clear:both;
	text-align:right;
	background:url(../img/bg_gotop.gif) no-repeat right 5px;
	padding:0 15px 0 0px;
}
.gotop p a:hover{

}*/
/*----位置の指定----*/
/* line 313, ../sass/_base.scss */
.alncenter {
  text-align: center; }

/* line 316, ../sass/_base.scss */
.alnleft {
  text-align: left; }

/* line 319, ../sass/_base.scss */
.alnright {
  text-align: right; }

/* line 323, ../sass/_base.scss */
.marginauto {
  margin-left: auto;
  margin-right: auto; }

/* line 327, ../sass/_base.scss */
.clear {
  clear: both; }

/* line 330, ../sass/_base.scss */
.valntop {
  vertical-align: top; }

/* line 333, ../sass/_base.scss */
.valnmiddle {
  vertical-align: middle; }

/* line 336, ../sass/_base.scss */
.valnbottom {
  vertical-align: bottom; }

/* line 339, ../sass/_base.scss */
.indent {
  text-indent: -10000px; }

/* line 342, ../sass/_base.scss */
.justify {
  text-align: justify;
  text-justify: distribute-all-lines; }

/* line 347, ../sass/_base.scss */
.fontmincho {
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif; }

/*----ディスプレイ----*/
/* line 351, ../sass/_base.scss */
.none {
  display: none; }

/* line 354, ../sass/_base.scss */
.block {
  display: block; }

/* line 357, ../sass/_base.scss */
.inline {
  display: inline; }

/* line 360, ../sass/_base.scss */
.cap,
.contents .cap {
  padding-left: 1em;
  text-indent: -1em; }

/* line 365, ../sass/_base.scss */
.cap2,
.contents .cap2 {
  padding-left: 2em;
  text-indent: -2em; }

/* line 371, ../sass/_base.scss */
.contents .cap,
.contents .cap2 {
  margin: 0 0 0 10px;
  padding-bottom: 2px; }

/* line 376, ../sass/_base.scss */
.weight400 {
  font-weight: 400; }

/* line 379, ../sass/_base.scss */
.weight800 {
  font-weight: 800; }

/* line 382, ../sass/_base.scss */
a:hover img {
  opacity: 0.5;
  filter: alpha(opacity=50); }

/*端末のサイズ設定*/
/*classによる表示非表示*/
@media (max-width: 767px) {
  /* line 76, ../sass/layout_160712.scss */
  .pcstyle {
    display: none; }

  /* line 79, ../sass/layout_160712.scss */
  .tbstyle {
    display: none; }

  /* line 82, ../sass/layout_160712.scss */
  .spstyle {
    display: block; } }
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 87, ../sass/layout_160712.scss */
  .pcstyle {
    display: none; }

  /* line 90, ../sass/layout_160712.scss */
  .tbstyle {
    display: block; }

  /* line 93, ../sass/layout_160712.scss */
  .spstyle {
    display: none; } }
@media (min-width: 1024px) {
  /* line 98, ../sass/layout_160712.scss */
  .pcstyle {
    display: block; }

  /* line 101, ../sass/layout_160712.scss */
  .tbstyle {
    display: none; }

  /* line 104, ../sass/layout_160712.scss */
  .spstyle {
    display: none; } }
/* 付与するベンダープレフィックス*/
/* background-size*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }
/* line 140, ../sass/layout_160712.scss */
body {
  color: #594f49;
  font-family: Meiryo,"メイリオ","Hiragino Kaku Gothic Pro W3","ヒラギノ角ゴ Pro W3",Osaka,"MS P Gothic","ＭＳ Ｐゴシック",sans-serif;
  font-size: 90%; }

/* line 154, ../sass/layout_160712.scss */
a {
  color: #594f49;
  outline: none; }
  /* line 158, ../sass/layout_160712.scss */
  a:hover {
    text-decoration: underline; }

/* line 163, ../sass/layout_160712.scss */
input,
select,
textarea {
  padding: 5px; }

/* line 168, ../sass/layout_160712.scss */
input,
textarea {
  border: 1px solid #ccc; }

/* line 173, ../sass/layout_160712.scss */
input[type=radio], input[type=checkbox] {
  margin: 0 5px 0 0; }

/* line 177, ../sass/layout_160712.scss */
img {
  max-width: 100%;
  height: auto; }

@media (min-width: 1024px) {
  /* line 185, ../sass/layout_160712.scss */
  .leftbox {
    display: inline-block;
    float: left;
    padding: 0 20px 0 0; } }
@media (max-width: 767px) {
  /* line 185, ../sass/layout_160712.scss */
  .leftbox {
    display: inline;
    float: none;
    padding: 0px 0px 0px 0; } }

@media (min-width: 1024px) {
  /* line 197, ../sass/layout_160712.scss */
  .rightbox {
    display: inline-block;
    float: right;
    padding: 0px 0 0px 20px; } }
@media (max-width: 767px) {
  /* line 197, ../sass/layout_160712.scss */
  .rightbox {
    display: inline;
    float: none;
    padding: 0px 0px 0px 0; } }

/*共通
----------------------------------------------*/
/* line 211, ../sass/layout_160712.scss */
.mainbody {
  background: url(../img/bg_dod.gif) repeat left top;
  min-height: 580px;
  padding-bottom: 60px; }

/* line 217, ../sass/layout_160712.scss */
.bg_info {
  background: url(../img/bg_info.jpg) no-repeat left center;
  background-size: cover;
  padding-bottom: 30px; }

/* line 222, ../sass/layout_160712.scss */
.ID_mane {
  text-align: right;
  font-size: 0.8em;
  padding: 8px 0;
  max-width: 960px;
  margin: 0 auto; }

/* line 228, ../sass/layout_160712.scss */
.bg_info_bord {
  background-color: rgba(255, 255, 255, 0.6);
  border: #ddd 1px solid;
  /* box-shadow */
  box-shadow: 1px 1px 2px 0 #e0e0e0;
  -moz-box-shadow: 1px 1px 2px 0 #e0e0e0;
  -webkit-box-shadow: 1px 1px 2px 0 #e0e0e0;
  padding: 20px; }
  /* line 236, ../sass/layout_160712.scss */
  .bg_info_bord h2 {
    font-size: 1.48em;
    font-weight: bold;
    color: #999;
    padding-bottom: 4px;
    border-bottom: #ddd 1px solid;
    margin-bottom: 12px; }

/*ヘッダ
------------------------------------------------*/
/* line 247, ../sass/layout_160712.scss */
header {
  position: relative;
  z-index: 1; }

/* line 251, ../sass/layout_160712.scss */
.top_main_logo {
  max-width: 960px;
  margin: 0 auto;
  position: relative; }

/* line 255, ../sass/layout_160712.scss */
.main_logo {
  position: absolute;
  top: 0;
  left: 0; }

/* line 260, ../sass/layout_160712.scss */
.sabmanu {
  background: #000;
  padding: 25px 0 10px; }
  /* line 263, ../sass/layout_160712.scss */
  .sabmanu div {
    max-width: 960px;
    margin: 0 auto;
    padding-right: 40px; }
  /* line 267, ../sass/layout_160712.scss */
  .sabmanu ul {
    float: right; }
  /* line 270, ../sass/layout_160712.scss */
  .sabmanu li {
    float: left;
    font-size: 0.8em; }
  /* line 274, ../sass/layout_160712.scss */
  .sabmanu a {
    color: #fff; }
  /* line 277, ../sass/layout_160712.scss */
  .sabmanu .icon_star {
    background: url(../img/icon_star.png) no-repeat left center;
    padding: 0 15px; }
  /* line 281, ../sass/layout_160712.scss */
  .sabmanu .icon_key {
    background: url(../img/icon_kye.png) no-repeat left center;
    padding: 0 15px; }

/* line 286, ../sass/layout_160712.scss */
.mainmanu {
  background: url(../img/bg_koushi.gif) repeat left top;
  padding: 20px 0 14px; }
  /* line 289, ../sass/layout_160712.scss */
  .mainmanu div {
    max-width: 960px;
    margin: 0 auto;
    padding-right: 20px; }
  /* line 293, ../sass/layout_160712.scss */
  .mainmanu ul {
    float: right; }
  /* line 296, ../sass/layout_160712.scss */
  .mainmanu li {
    float: left;
    color: #fff;
    font-size: 0.8em; }
  /* line 301, ../sass/layout_160712.scss */
  .mainmanu a {
    color: #fff;
    padding: 0 20px; }

/*ログイン
------------------------------------------------*/
/* line 308, ../sass/layout_160712.scss */
#login {
  padding-top: 60px; }

/* line 311, ../sass/layout_160712.scss */
.bg_opacity_white {
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 22px;
  border: #e85d61 2px solid;
  padding: 25px 20px;
  color: #e85d61;
  width: 300px;
  margin: 0 auto; }
  /* line 319, ../sass/layout_160712.scss */
  .bg_opacity_white h3 {
    margin-bottom: 15px; }
  /* line 322, ../sass/layout_160712.scss */
  .bg_opacity_white p {
    margin-bottom: 10px; }
  /* line 325, ../sass/layout_160712.scss */
  .bg_opacity_white a {
    color: #e85d61;
    font-size: 0.73em;
    text-decoration: underline; }
  /* line 330, ../sass/layout_160712.scss */
  .bg_opacity_white dt {
    margin-bottom: 5px; }
  /* line 333, ../sass/layout_160712.scss */
  .bg_opacity_white dd {
    margin-bottom: 10px; }
  /* line 336, ../sass/layout_160712.scss */
  .bg_opacity_white dd:last-child {
    margin-bottom: 20px; }
  /* line 339, ../sass/layout_160712.scss */
  .bg_opacity_white input {
    width: 260px;
    padding: 13px; }

/*ログアウト
------------------------------------------------*/
/* line 347, ../sass/layout_160712.scss */
#logout {
  min-height: 700px; }

/* line 350, ../sass/layout_160712.scss */
.logout {
  max-width: 960px;
  margin: 0 auto; }
  /* line 352, ../sass/layout_160712.scss */
  .logout h2 {
    padding-left: 37px;
    background: url(../img/icon_logout.png) no-repeat 4px 4px;
    background-size: 26px; }

/* line 359, ../sass/layout_160712.scss */
.btn_page_top {
  width: 280px;
  margin: 0 auto;
  padding: 10px;
  background: #f0f0f0;
  text-align: center;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: #e0e0e0 2px solid;
  /* box-shadow */
  box-shadow: 1px 1px 0 0 #ccc;
  -moz-box-shadow: 1px 1px 0 0 #ccc;
  -webkit-box-shadow: 1px 1px 0 0 #ccc; }

/*メインビジュアル
------------------------------------------------*/
/* line 376, ../sass/layout_160712.scss */
.main_img {
  background: #000; }

/* line 379, ../sass/layout_160712.scss */
.top_slider {
  width: 1500px;
  margin: 0 auto; }

/* line 383, ../sass/layout_160712.scss */
.bx-controls-direction {
  display: none; }

/*サイドメニュー
------------------------------------------------*/
/* line 389, ../sass/layout_160712.scss */
.side_menu {
  width: 240px;
  float: left; }

/* line 393, ../sass/layout_160712.scss */
.bg_opacity_white_1, .bg_opacity_white_2, .bg_opacity_white_3 {
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 22px; }

/* line 397, ../sass/layout_160712.scss */
.bg_opacity_white_1 {
  border: #e85d61 2px solid;
  padding: 25px 20px;
  color: #e85d61; }
  /* line 401, ../sass/layout_160712.scss */
  .bg_opacity_white_1 h3 {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 15px; }
  /* line 406, ../sass/layout_160712.scss */
  .bg_opacity_white_1 p {
    margin-bottom: 10px; }
  /* line 409, ../sass/layout_160712.scss */
  .bg_opacity_white_1 a {
    color: #e85d61;
    font-size: 0.73em;
    text-decoration: underline; }

/* line 416, ../sass/layout_160712.scss */
.login_dl dt {
  font-size: 0.8em; }
/* line 420, ../sass/layout_160712.scss */
.login_dl dd {
  margin-bottom: 8px; }
  /* line 422, ../sass/layout_160712.scss */
  .login_dl dd input {
    width: 180px;
    padding: 8px; }
/* line 427, ../sass/layout_160712.scss */
.login_dl dd:last-child {
  margin-bottom: 13px; }

/* line 431, ../sass/layout_160712.scss */
.bg_opacity_white_2 {
  border: #479ab2 2px solid;
  text-align: center;
  padding: 13px 0; }

/* line 436, ../sass/layout_160712.scss */
.bg_opacity_white_3 {
  border: #f39800 2px solid;
  text-align: center;
  padding: 8px 0; }

/*トップページ
------------------------------------------------*/
/* line 443, ../sass/layout_160712.scss */
.mainvisual {
  background: url(../img/bg_rose.jpg) repeat-x center top;
  background-size: cover; }
  /* line 448, ../sass/layout_160712.scss */
  .mainvisual h2 {
    padding: 25px 0 20px;
    text-align: center; }

/* line 454, ../sass/layout_160712.scss */
.top_features {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 60px; }
  /* line 457, ../sass/layout_160712.scss */
  .top_features li {
    display: inline;
    margin-right: 24px; }
  /* line 461, ../sass/layout_160712.scss */
  .top_features li:last-child {
    margin-right: 0; }

/* line 465, ../sass/layout_160712.scss */
.contents {
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 30px; }
  /* line 468, ../sass/layout_160712.scss */
  .contents h3 {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px 0 20px 0;
    font-size: 120%;
    font-weight: 800;
    background: #eee; }
  /* line 477, ../sass/layout_160712.scss */
  .contents h4 {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin: 0 0 20px 0;
    font-size: 110%; }
  /* line 484, ../sass/layout_160712.scss */
  .contents p {
    padding: 0 0 10px 0; }

/* line 490, ../sass/layout_160712.scss */
.linkbtn, .linkbtn02 {
  background: #ed7e99;
  color: #fff;
  padding: 5px 30px;
  font-size: 120%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

/* line 499, ../sass/layout_160712.scss */
.linkbtn02 {
  background: #ccc; }

/* line 507, ../sass/layout_160712.scss */
.choice_genre h3 {
  text-align: center;
  padding: 25px 0 20px; }

/* line 512, ../sass/layout_160712.scss */
.choice_genre_ul {
  padding-bottom: 20px; }
  /* line 514, ../sass/layout_160712.scss */
  .choice_genre_ul li {
    display: inline;
    margin-right: 9px; }
  /* line 518, ../sass/layout_160712.scss */
  .choice_genre_ul li:last-child {
    margin-right: 0; }

/* line 522, ../sass/layout_160712.scss */
.choice_area {
  padding-bottom: 50px; }
  /* line 524, ../sass/layout_160712.scss */
  .choice_area h3 {
    text-align: center;
    padding: 20px 0; }

/* line 529, ../sass/layout_160712.scss */
.choice_area_ul {
  padding-bottom: 60px; }
  /* line 531, ../sass/layout_160712.scss */
  .choice_area_ul li {
    display: inline;
    margin-right: -3px; }
  /* line 535, ../sass/layout_160712.scss */
  .choice_area_ul li:nth-child(5n) {
    margin-right: 0; }

/* line 539, ../sass/layout_160712.scss */
.on_genre_check {
  display: none; }

/* line 542, ../sass/layout_160712.scss */
.on_genre {
  position: relative; }
  /* line 544, ../sass/layout_160712.scss */
  .on_genre .on_genre_check {
    display: block;
    position: absolute;
    left: 3px;
    top: -116px; }

/* line 551, ../sass/layout_160712.scss */
.on_area {
  position: relative; }
  /* line 557, ../sass/layout_160712.scss */
  .on_area .on_genre_check {
    display: block;
    position: absolute;
    left: 4px;
    top: -41px; }

/*フッター
------------------------------------------------*/
/* line 568, ../sass/layout_160712.scss */
.footermanu {
  background: #000;
  padding: 20px 0 10px; }
  /* line 571, ../sass/layout_160712.scss */
  .footermanu div {
    max-width: 960px;
    margin: 0 auto; }
  /* line 574, ../sass/layout_160712.scss */
  .footermanu ul {
    float: left; }
  /* line 577, ../sass/layout_160712.scss */
  .footermanu li {
    float: left;
    color: #fff;
    font-size: 0.75em; }
  /* line 582, ../sass/layout_160712.scss */
  .footermanu a {
    color: #fff;
    padding: 0 20px; }

/* line 587, ../sass/layout_160712.scss */
.copyright {
  color: #fff;
  text-align: right;
  padding: 10px 0 100px;
  font-size: 0.7em; }

/*絞り込み2ページ目
------------------------------------------------*/
/* line 596, ../sass/layout_160712.scss */
#genre .mainbody {
  padding-top: 60px; }

/* line 600, ../sass/layout_160712.scss */
.shiborikomi_page02 {
  width: 680px;
  float: right; }

/* line 604, ../sass/layout_160712.scss */
.shiborikomi_step {
  display: table;
  background: #87723e;
  padding: 9px 15px 9px 0;
  width: 97.8%;
  text-align: center; }
  /* line 610, ../sass/layout_160712.scss */
  .shiborikomi_step p {
    display: table-cell;
    color: #fff;
    opacity: 0.5; }
  /* line 615, ../sass/layout_160712.scss */
  .shiborikomi_step .hear {
    opacity: 1;
    text-decoration: underline; }
  /* line 625, ../sass/layout_160712.scss */
  .shiborikomi_step img {
    vertical-align: middle; }

/* line 629, ../sass/layout_160712.scss */
.shiborikomi_genre {
  background: #fff url(../img/bg_shiborikomi_page.png) repeat left top;
  padding: 20px;
  border: 1px solid #806c3c; }

/* line 634, ../sass/layout_160712.scss */
.shiborikomi_genre_01, .shiborikomi_genre_02 {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #b2954f;
  padding: 20px; }
  /* line 637, ../sass/layout_160712.scss */
  .shiborikomi_genre_01 h3, .shiborikomi_genre_02 h3 {
    font-size: 1.25em;
    font-weight: bold;
    padding: 0 0 2px 30px;
    border-bottom: 1px solid #806c3c;
    color: #806c3c;
    margin-bottom: 13px; }

/* line 647, ../sass/layout_160712.scss */
.shiborikomi_genre_01 {
  margin-bottom: 20px; }
  /* line 649, ../sass/layout_160712.scss */
  .shiborikomi_genre_01 h3 {
    background: url(../stores/img/icon_zyouken.png) no-repeat left 4px; }
    /* line 651, ../sass/layout_160712.scss */
    .shiborikomi_genre_01 h3 span {
      float: right;
      padding: 5px 8px;
      background: #fc982e;
      font-size: 0.5em;
      font-weight: normal;
      /* border-radius */
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px; }
      /* line 661, ../sass/layout_160712.scss */
      .shiborikomi_genre_01 h3 span a {
        color: #fff; }
  /* line 666, ../sass/layout_160712.scss */
  .shiborikomi_genre_01 li {
    color: #fff;
    float: left;
    margin: 0 6px 4px 0;
    padding: 2px 20px;
    /* border-radius */
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
  /* line 676, ../sass/layout_160712.scss */
  .shiborikomi_genre_01 .page01_select_huzoku {
    background: #fd468c; }
  /* line 679, ../sass/layout_160712.scss */
  .shiborikomi_genre_01 .page01_select_girl {
    background: #841d95; }
  /* line 682, ../sass/layout_160712.scss */
  .shiborikomi_genre_01 .page01_select_hosuto {
    background: #4fb3cf; }
  /* line 685, ../sass/layout_160712.scss */
  .shiborikomi_genre_01 .page01_select_area {
    background: #ed7e99; }

/* line 690, ../sass/layout_160712.scss */
.shiborikomi_genre_02 h3 {
  background: url(../stores/img/icon_category.png) no-repeat left 3px; }
  /* line 692, ../sass/layout_160712.scss */
  .shiborikomi_genre_02 h3 span {
    float: right;
    padding: 5px 8px 5px 25px;
    background: #479ab2 url(../img/icon_star.png) no-repeat 9px 7px;
    font-size: 0.5em;
    font-weight: normal;
    /* border-radius */
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
    /* line 702, ../sass/layout_160712.scss */
    .shiborikomi_genre_02 h3 span a {
      color: #fff; }

/* line 708, ../sass/layout_160712.scss */
.shiborikomi_genre_03 {
  margin-bottom: 20px; }
  /* line 710, ../sass/layout_160712.scss */
  .shiborikomi_genre_03 li {
    float: left;
    width: 29.5%;
    margin-right: 5%;
    border: #134da9 1px solid;
    /* border-radius */
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
  /* line 720, ../sass/layout_160712.scss */
  .shiborikomi_genre_03 li:last-child {
    margin-right: 0; }

/* line 725, ../sass/layout_160712.scss */
.shiborikomi_genre_04 dt {
  font-size: 1.1em;
  background: #134da9;
  overflow: hidden;
  text-align: center;
  padding: 5px 0;
  color: #fff; }
/* line 733, ../sass/layout_160712.scss */
.shiborikomi_genre_04 dd {
  font-size: 0.9em;
  color: #464646;
  padding: 10px; }
/* line 738, ../sass/layout_160712.scss */
.shiborikomi_genre_04 p {
  padding-bottom: 5px; }
/* line 741, ../sass/layout_160712.scss */
.shiborikomi_genre_04 p:last-child {
  padding-bottom: 0; }

/*絞り込み3ページ目
----------------------------------------------*/
/* line 747, ../sass/layout_160712.scss */
.page01_select_genre {
  background: #134da9; }

/* line 753, ../sass/layout_160712.scss */
.shiborikomi_area_02 {
  width: 100%;
  border-collapse: collapse;
  border-top: 2px dotted #ccc;
  margin-bottom: 20px; }
  /* line 758, ../sass/layout_160712.scss */
  .shiborikomi_area_02 tr {
    border-bottom: 2px dotted #ccc; }
  /* line 761, ../sass/layout_160712.scss */
  .shiborikomi_area_02 th {
    text-align: left;
    width: 28%;
    padding: 13px 12px;
    background: #fae8e8; }
  /* line 767, ../sass/layout_160712.scss */
  .shiborikomi_area_02 td {
    font-size: 0.9em;
    padding: 13px 12px;
    background: #fff; }

/*店舗一覧
----------------------------------------------*/
/* line 775, ../sass/layout_160712.scss */
.shiborikomi_shop_01 {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #dbbdb6;
  margin-bottom: 20px;
  background: #fff; }
  /* line 781, ../sass/layout_160712.scss */
  .shiborikomi_shop_01 tr {
    border-bottom: 1px solid #dbbdb6; }
  /* line 784, ../sass/layout_160712.scss */
  .shiborikomi_shop_01 tr:nth-child(2n) {
    background: #fef5f3; }
  /* line 787, ../sass/layout_160712.scss */
  .shiborikomi_shop_01 th {
    text-align: left;
    width: 20%;
    padding: 13px 12px;
    text-align: center; }
  /* line 793, ../sass/layout_160712.scss */
  .shiborikomi_shop_01 td {
    font-size: 0.9em;
    padding: 13px 12px; }
  /* line 797, ../sass/layout_160712.scss */
  .shiborikomi_shop_01 li {
    margin-bottom: 5px; }
  /* line 800, ../sass/layout_160712.scss */
  .shiborikomi_shop_01 .pint_list {
    background: #e1432a;
    color: #fff;
    padding: 2px 10px;
    /* border-radius */
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }

/* line 810, ../sass/layout_160712.scss */
.narabekae {
  margin-bottom: 15px;
  padding: 15px;
  background: #eee; }
  /* line 814, ../sass/layout_160712.scss */
  .narabekae p, .narabekae select {
    float: left;
    color: #594f49; }
  /* line 818, ../sass/layout_160712.scss */
  .narabekae p {
    margin-right: 20px;
    font-weight: bold; }
  /* line 822, ../sass/layout_160712.scss */
  .narabekae select {
    padding: 10px; }
