@charset "UTF-8";
/*sassを使用して制作*/
/*compass読み込み*/
/*ベースファイル読み込み*/
/* common
-------------------------------------*/
/* line 6, ../sass/_base.scss */
* {
  margin: 0px;
  padding: 0px; }

/* line 11, ../sass/_base.scss */
body {
  line-height: 160%;
  line-height: 1.6; }

/* line 17, ../sass/_base.scss */
a img {
  border: 0px;
  vertical-align: bottom; }

/* line 21, ../sass/_base.scss */
img {
  vertical-align: bottom; }

/* line 24, ../sass/_base.scss */
a, area {
  text-decoration: none; }

/* line 28, ../sass/_base.scss */
option {
  padding: 0 5px 0 0; }

/* title
-------------------------------------*/
/* line 34, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

/* character setting
-------------------------------------*/
/* line 41, ../sass/_base.scss */
strong {
  font-weight: bold; }

/* line 45, ../sass/_base.scss */
em {
  font-style: normal; }

/* line 49, ../sass/_base.scss */
address {
  font-style: normal; }

/* list
-------------------------------------*/
/* line 55, ../sass/_base.scss */
ul {
  list-style-type: none; }

/* line 58, ../sass/_base.scss */
ol {
  padding: 0 10px 8px 20px; }

/* line 61, ../sass/_base.scss */
ol li {
  padding: 0 0 8px 0px; }

/* table
-------------------------------------*/
/* line 67, ../sass/_base.scss */
table,
th,
td {
  padding: 3px; }

/* line 73, ../sass/_base.scss */
caption {
  text-align: left; }

/* align
-------------------------------------*/
/* line 79, ../sass/_base.scss */
.alnleft {
  text-align: left; }

/* line 83, ../sass/_base.scss */
.alncenter {
  text-align: center; }

/* line 87, ../sass/_base.scss */
.alnright {
  text-align: right; }

/* line 91, ../sass/_base.scss */
.fltleft {
  float: left; }

/* line 95, ../sass/_base.scss */
.fltright {
  float: right; }

/* font-size
-------------------------------------*/
/* line 101, ../sass/_base.scss */
.txtxxsmall {
  font-size: xx-small; }

/* line 102, ../sass/_base.scss */
.txtxsmall {
  font-size: x-small; }

/* line 103, ../sass/_base.scss */
.txtsmall {
  font-size: small; }

/* line 104, ../sass/_base.scss */
.txtsmaller {
  font-size: smaller; }

/* line 105, ../sass/_base.scss */
.txtxxlarge {
  font-size: xx-large; }

/* line 106, ../sass/_base.scss */
.txtxlarge {
  font-size: x-large; }

/* line 107, ../sass/_base.scss */
.txtlarge {
  font-size: large; }

/* line 108, ../sass/_base.scss */
.txtlarger {
  font-size: larger; }

/* line 109, ../sass/_base.scss */
.txtmed {
  font-size: medium; }

/* line 110, ../sass/_base.scss */
.txt09 {
  font-size: 9px; }

/* line 111, ../sass/_base.scss */
.txt10 {
  font-size: 10px; }

/* line 112, ../sass/_base.scss */
.txt11 {
  font-size: 11px; }

/* line 113, ../sass/_base.scss */
.txt12 {
  font-size: 12px; }

/* line 114, ../sass/_base.scss */
.txt13 {
  font-size: 13px; }

/* line 115, ../sass/_base.scss */
.txt14 {
  font-size: 14px; }

/* line 116, ../sass/_base.scss */
.txt15 {
  font-size: 15px; }

/* line 117, ../sass/_base.scss */
.txt16 {
  font-size: 16px; }

/* line 118, ../sass/_base.scss */
.txt17 {
  font-size: 17px; }

/* line 119, ../sass/_base.scss */
.txt18 {
  font-size: 18px; }

/* line 120, ../sass/_base.scss */
.txt19 {
  font-size: 19px; }

/* line 121, ../sass/_base.scss */
.txt20 {
  font-size: 20px; }

/* line 122, ../sass/_base.scss */
.txt21 {
  font-size: 21px; }

/* line 123, ../sass/_base.scss */
.txt22 {
  font-size: 22px; }

/* line 124, ../sass/_base.scss */
.txt23 {
  font-size: 23px; }

/* line 125, ../sass/_base.scss */
.txt24 {
  font-size: 24px; }

/* line 126, ../sass/_base.scss */
.txt25 {
  font-size: 25px; }

/* line 127, ../sass/_base.scss */
.txt26 {
  font-size: 26px; }

/* line 128, ../sass/_base.scss */
.txt80 {
  font-size: 80%; }

/* line 129, ../sass/_base.scss */
.txt90 {
  font-size: 90%; }

/* line 130, ../sass/_base.scss */
.txt110 {
  font-size: 110%; }

/* line 131, ../sass/_base.scss */
.txt120 {
  font-size: 120%; }

/* line 132, ../sass/_base.scss */
.txt130 {
  font-size: 130%; }

/* line 133, ../sass/_base.scss */
.txt140 {
  font-size: 140%; }

/* line 134, ../sass/_base.scss */
.txt150 {
  font-size: 150%; }

/* color
-------------------------------------*/
/* line 138, ../sass/_base.scss */
.clrred {
  color: #da423e; }

/* line 139, ../sass/_base.scss */
.clrblue {
  color: #279ab3; }

/* line 140, ../sass/_base.scss */
.clryellow {
  color: #ddb410; }

/* line 141, ../sass/_base.scss */
.clrorange {
  color: #fe501a; }

/* line 142, ../sass/_base.scss */
.clrorange2 {
  color: #F39219; }

/* line 143, ../sass/_base.scss */
.clrgreen {
  color: #0C3; }

/* line 144, ../sass/_base.scss */
.clrpink {
  color: #FF999C; }

/* line 145, ../sass/_base.scss */
.clrbrown {
  color: #a87c1c; }

/* line 146, ../sass/_base.scss */
.clrwhite {
  color: #FFF; }

/* line 147, ../sass/_base.scss */
.clr333 {
  color: #333; }

/* line 148, ../sass/_base.scss */
.clr666 {
  color: #666; }

/* line 149, ../sass/_base.scss */
.clr999 {
  color: #999; }

/* line 150, ../sass/_base.scss */
.clrCCC {
  color: #CCC; }

/* line 151, ../sass/_base.scss */
.clrpurple {
  color: #896795; }

/* line 153, ../sass/_base.scss */
.clrkeiei {
  color: #103c70; }

/* line 156, ../sass/_base.scss */
.clrjinbun {
  color: #9e0a0f; }

/* line 159, ../sass/_base.scss */
.clrshinri {
  color: #9e0a0f; }

/* line 162, ../sass/_base.scss */
.clrkyouiku {
  color: #6a3f76; }

/* line 165, ../sass/_base.scss */
.clrsports {
  color: #109359; }

/* line 168, ../sass/_base.scss */
.clrkanri {
  color: #de702d; }

/* background
-------------------------------------*/
/* line 174, ../sass/_base.scss */
.bg01 {
  background: #F8FBFD; }

/* line 175, ../sass/_base.scss */
.bg02 {
  background: #ADDBFA; }

/* line 176, ../sass/_base.scss */
.bg03 {
  background: #DEF0FB; }

/* line 177, ../sass/_base.scss */
.bg04 {
  background: #FEF9E9; }

/* line 178, ../sass/_base.scss */
.bg05 {
  background: #D3F1A0; }

/* line 179, ../sass/_base.scss */
.bg06 {
  background: #f8d9d8; }

/* line 180, ../sass/_base.scss */
.bg07 {
  background: #A0A9F1; }

/* line 181, ../sass/_base.scss */
.bg08 {
  background: #e50112;
  color: #fff; }

/* line 182, ../sass/_base.scss */
.bg09 {
  background: #FDE297; }

/* line 183, ../sass/_base.scss */
.bg10 {
  background: #EFEFEF; }

/* line 184, ../sass/_base.scss */
.bg11 {
  background: #F4F4F4; }

/* line 185, ../sass/_base.scss */
.bg12 {
  background: #EEEEDC; }

/* line 186, ../sass/_base.scss */
.bg13 {
  background: #F6F6EE; }

/* line 187, ../sass/_base.scss */
.bg14 {
  background: #776655; }

/* line 188, ../sass/_base.scss */
.bg15 {
  background: #EDF3FE; }

/* line 189, ../sass/_base.scss */
.bg16 {
  background: #F9F9F9; }

/* line 190, ../sass/_base.scss */
.bg17 {
  background: #7161C4; }

/* line 191, ../sass/_base.scss */
.bg18 {
  background: #2ABE0F;
  color: #fff; }

/* line 192, ../sass/_base.scss */
.bg19 {
  background: #FF0B0B; }

/* line 193, ../sass/_base.scss */
.bg20 {
  background: #FFB82B; }

/* line 194, ../sass/_base.scss */
.bg21 {
  background: #7CA20A; }

/* line 195, ../sass/_base.scss */
.bgfff {
  background: #FFF; }

/* line 196, ../sass/_base.scss */
.bgccc {
  background: #ccc; }

/* line 198, ../sass/_base.scss */
.bgkeiei {
  background: #103c70; }

/* line 201, ../sass/_base.scss */
.bgjinbun {
  background: #9e0a0f; }

/* line 204, ../sass/_base.scss */
.bgshinri {
  background: #9e0a0f; }

/* line 207, ../sass/_base.scss */
.bgkyouiku {
  background: #6a3f76; }

/* line 210, ../sass/_base.scss */
.bgsports {
  background: #109359; }

/* line 213, ../sass/_base.scss */
.bgkanri {
  background: #de702d; }

/*margin
------------------------------------*/
/* line 219, ../sass/_base.scss */
.ma20 {
  margin: 20px; }

/* line 220, ../sass/_base.scss */
.ma10 {
  margin: 10px; }

/* line 221, ../sass/_base.scss */
.ma05 {
  margin: 5px; }

/* line 222, ../sass/_base.scss */
.mt25 {
  margin-top: 25px; }

/* line 223, ../sass/_base.scss */
.mt20 {
  margin-top: 20px; }

/* line 224, ../sass/_base.scss */
.mt10 {
  margin-top: 10px; }

/* line 225, ../sass/_base.scss */
.mt05 {
  margin-top: 5px; }

/* line 226, ../sass/_base.scss */
.mb30 {
  margin-bottom: 30px; }

/* line 227, ../sass/_base.scss */
.mb25 {
  margin-bottom: 25px; }

/* line 228, ../sass/_base.scss */
.mb20 {
  margin-bottom: 20px; }

/* line 229, ../sass/_base.scss */
.mb15 {
  margin-bottom: 15px; }

/* line 230, ../sass/_base.scss */
.mb10 {
  margin-bottom: 10px; }

/* line 231, ../sass/_base.scss */
.mb05 {
  margin-bottom: 5px; }

/* line 232, ../sass/_base.scss */
.mr20 {
  margin-right: 20px; }

/* line 233, ../sass/_base.scss */
.mr10 {
  margin-right: 10px; }

/* line 234, ../sass/_base.scss */
.mr05 {
  margin-right: 5px; }

/* line 235, ../sass/_base.scss */
.ml20 {
  margin-left: 20px; }

/* line 236, ../sass/_base.scss */
.ml15 {
  margin-left: 15px; }

/* line 237, ../sass/_base.scss */
.ml10 {
  margin-left: 10px; }

/* line 238, ../sass/_base.scss */
.ml05 {
  margin-left: 5px; }

/* line 239, ../sass/_base.scss */
.mtb20 {
  margin: 20px 0; }

/* line 240, ../sass/_base.scss */
.mtb10 {
  margin: 10px 0; }

/* line 241, ../sass/_base.scss */
.mtb05 {
  margin: 5px 0; }

/*padding
------------------------------------*/
/* line 245, ../sass/_base.scss */
.pa20 {
  padding: 20px; }

/* line 246, ../sass/_base.scss */
.pa10 {
  padding: 10px; }

/* line 247, ../sass/_base.scss */
.pa05 {
  padding: 5px; }

/* line 248, ../sass/_base.scss */
.pt20 {
  padding-top: 20px; }

/* line 249, ../sass/_base.scss */
.pt10 {
  padding-top: 10px; }

/* line 250, ../sass/_base.scss */
.pt05 {
  padding-top: 5px; }

/* line 251, ../sass/_base.scss */
.pb20 {
  padding-bottom: 20px; }

/* line 252, ../sass/_base.scss */
.pb10 {
  padding-bottom: 10px; }

/* line 253, ../sass/_base.scss */
.pb05 {
  padding-bottom: 5px; }

/* line 254, ../sass/_base.scss */
.pr20 {
  padding-right: 20px; }

/* line 255, ../sass/_base.scss */
.pr10 {
  padding-right: 10px; }

/* line 256, ../sass/_base.scss */
.pr05 {
  padding-right: 5px; }

/* line 257, ../sass/_base.scss */
.pl20 {
  padding-left: 20px; }

/* line 258, ../sass/_base.scss */
.pl10 {
  padding-left: 10px; }

/* line 259, ../sass/_base.scss */
.pl05 {
  padding-left: 5px; }

/* float
-------------------------------------*/
/* line 262, ../sass/_base.scss */
.fltleft {
  float: left; }

/* line 263, ../sass/_base.scss */
.fltright {
  float: right; }

/*clear*/
/* line 266, ../sass/_base.scss */
.clear {
  clear: both;
  font-size: 1px; }

/* floatさせたボックスが親ボックスの外にはみ出す現象を回避（ここから）
-------------------------------------*/
/* line 272, ../sass/_base.scss */
.clearbox,
.clearfix {
  min-height: 1px; }

/* line 276, ../sass/_base.scss */
.clearbox:after,
.clearfix:after {
  content: ".";
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
  font-size: 0.1em;
  line-height: 0; }

/* line 287, ../sass/_base.scss */
.clearbox,
.clearfix {
  display: inline-table; }

/* Mac IE には適用させない \*/
/* line 290, ../sass/_base.scss */
* html .clearbox,
* html .clearfix {
  height: 1px; }

/* line 292, ../sass/_base.scss */
.clearbox,
.clearfix {
  display: block; }

/* */
/* floatさせたボックスが親ボックスの外にはみ出す現象を回避（ここまで） */
/*--------------------------------------------------------------------------
*/
/*----上へ戻る----*/
/*.gotop{
	padding:10px 0 20px 0;

}
.contents .gotop p{
	clear:both;
	text-align:right;
	background:url(../img/bg_gotop.gif) no-repeat right 5px;
	padding:0 15px 0 0px;
}
.gotop p a:hover{

}*/
/*----位置の指定----*/
/* line 313, ../sass/_base.scss */
.alncenter {
  text-align: center; }

/* line 316, ../sass/_base.scss */
.alnleft {
  text-align: left; }

/* line 319, ../sass/_base.scss */
.alnright {
  text-align: right; }

/* line 323, ../sass/_base.scss */
.marginauto {
  margin-left: auto;
  margin-right: auto; }

/* line 327, ../sass/_base.scss */
.clear {
  clear: both; }

/* line 330, ../sass/_base.scss */
.valntop {
  vertical-align: top; }

/* line 333, ../sass/_base.scss */
.valnmiddle {
  vertical-align: middle; }

/* line 336, ../sass/_base.scss */
.valnbottom {
  vertical-align: bottom; }

/* line 339, ../sass/_base.scss */
.indent {
  text-indent: -10000px; }

/* line 342, ../sass/_base.scss */
.justify {
  text-align: justify;
  text-justify: distribute-all-lines; }

/* line 347, ../sass/_base.scss */
.fontmincho {
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif; }

/*----ディスプレイ----*/
/* line 351, ../sass/_base.scss */
.none {
  display: none; }

/* line 354, ../sass/_base.scss */
.block {
  display: block; }

/* line 357, ../sass/_base.scss */
.inline {
  display: inline; }

/* line 360, ../sass/_base.scss */
.cap,
.contents .cap {
  padding-left: 1em;
  text-indent: -1em; }

/* line 365, ../sass/_base.scss */
.cap2,
.contents .cap2 {
  padding-left: 2em;
  text-indent: -2em; }

/* line 371, ../sass/_base.scss */
.contents .cap,
.contents .cap2 {
  margin: 0 0 0 10px;
  padding-bottom: 2px; }

/* line 376, ../sass/_base.scss */
.weight400 {
  font-weight: 400; }

/* line 379, ../sass/_base.scss */
.weight800 {
  font-weight: 800; }

/* line 382, ../sass/_base.scss */
a:hover img {
  opacity: 0.5;
  filter: alpha(opacity=50); }

/*端末のサイズ設定*/
/*classによる表示非表示*/
@media (max-width: 767px) {
  /* line 76, ../sass/layout.scss */
  .pcstyle {
    display: none; }

  /* line 79, ../sass/layout.scss */
  .tbstyle {
    display: none; }

  /* line 82, ../sass/layout.scss */
  .spstyle {
    display: block; } }
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 87, ../sass/layout.scss */
  .pcstyle {
    display: none; }

  /* line 90, ../sass/layout.scss */
  .tbstyle {
    display: block; }

  /* line 93, ../sass/layout.scss */
  .spstyle {
    display: none; } }
@media (min-width: 1024px) {
  /* line 98, ../sass/layout.scss */
  .pcstyle {
    display: block; }

  /* line 101, ../sass/layout.scss */
  .tbstyle {
    display: none; }

  /* line 104, ../sass/layout.scss */
  .spstyle {
    display: none; } }
/* 付与するベンダープレフィックス*/
/* background-size*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }
/* line 140, ../sass/layout.scss */
body {
  color: #594f49;
  font-family: Meiryo,"メイリオ","Hiragino Kaku Gothic Pro W3","ヒラギノ角ゴ Pro W3",Osaka,"MS P Gothic","ＭＳ Ｐゴシック",sans-serif;
  font-size: 90%; }

/* line 154, ../sass/layout.scss */
a {
  color: #594f49;
  outline: none; }
  /* line 158, ../sass/layout.scss */
  a:hover {
    text-decoration: underline; }

/* line 163, ../sass/layout.scss */
input,
select,
textarea {
  padding: 5px; }

/* line 168, ../sass/layout.scss */
input,
textarea {
  border: 1px solid #ccc; }

/* line 173, ../sass/layout.scss */
input[type=radio], input[type=checkbox] {
  margin: 0 5px 0 0; }

/* line 177, ../sass/layout.scss */
img {
  max-width: 100%;
  height: auto; }

@media (min-width: 1024px) {
  /* line 185, ../sass/layout.scss */
  .leftbox {
    display: inline-block;
    float: left;
    padding: 0 20px 0 0; } }
@media (max-width: 767px) {
  /* line 185, ../sass/layout.scss */
  .leftbox {
    display: inline;
    float: none;
    padding: 0px 0px 0px 0; } }

@media (min-width: 1024px) {
  /* line 197, ../sass/layout.scss */
  .rightbox {
    display: inline-block;
    float: right;
    padding: 0px 0 0px 20px; } }
@media (max-width: 767px) {
  /* line 197, ../sass/layout.scss */
  .rightbox {
    display: inline;
    float: none;
    padding: 0px 0px 0px 0; } }

/*共通
----------------------------------------------*/
/* line 211, ../sass/layout.scss */
.mainbody {
  background: url(../img/bg_dod.gif) repeat left top;
  min-height: 580px;
  padding-bottom: 60px; }

/* line 217, ../sass/layout.scss */
.bg_info {
  min-height: 700px;
  background: url(../img/bg_info.jpg) no-repeat left center;
  background-size: cover;
  padding: 30px 0; }

/* line 223, ../sass/layout.scss */
.ID_mane {
  text-align: right;
  font-size: 0.8em;
  padding: 10px 0 15px;
  max-width: 960px;
  margin: 0 auto; }
  /* line 228, ../sass/layout.scss */
  .ID_mane .mypoint {
    font-size: 1.2em;
    margin-right: 10px;
    font-weight: bold;
    color: #f00; }
  /* line 234, ../sass/layout.scss */
  .ID_mane .mycode {
    padding: 5px 10px 3px;
    background: #000; }
    /* line 237, ../sass/layout.scss */
    .ID_mane .mycode a {
      color: #fff; }

/* line 242, ../sass/layout.scss */
.bg_info_bord {
  max-width: 960px;
  margin: 0 auto;
  background-color: white;
  border: #ddd 1px solid;
  /* box-shadow */
  box-shadow: 1px 1px 2px 0 #e0e0e0;
  -moz-box-shadow: 1px 1px 2px 0 #e0e0e0;
  -webkit-box-shadow: 1px 1px 2px 0 #e0e0e0;
  padding: 20px;
  margin-bottom: 30px; }
  /* line 252, ../sass/layout.scss */
  .bg_info_bord h2 {
    font-size: 1.48em;
    font-weight: bold;
    color: #594f49;
    padding-bottom: 4px;
    border-bottom: #562734 2px solid;
    margin-bottom: 12px; }
  /* line 260, ../sass/layout.scss */
  .bg_info_bord h3 {
    border-left: 5px solid #562734;
    border-bottom: 1px dotted #562734;
    padding: 4px 0 0px 10px;
    margin-bottom: 12px;
    font-size: 1.2em;
    font-weight: 800; }
  /* line 269, ../sass/layout.scss */
  .bg_info_bord h4 {
    padding: 6px 10px;
    margin: 0 0 12px 0;
    font-size: 1em;
    font-weight: 800;
    background: #eee;
    border-radius: 7px; }
  /* line 277, ../sass/layout.scss */
  .bg_info_bord p {
    font-size: 0.9em;
    line-height: 1.8;
    padding: 0 0 12px 0; }
  /* line 282, ../sass/layout.scss */
  .bg_info_bord .info_p {
    font-size: 0.8em; }
  /* line 285, ../sass/layout.scss */
  .bg_info_bord .btn_next {
    width: 280px;
    margin: 0 auto;
    padding: 10px;
    background: #134da9;
    text-align: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 1px 1px 0 0 #ccc;
    -moz-box-shadow: 1px 1px 0 0 #ccc;
    -webkit-box-shadow: 1px 1px 0 0 #ccc;
    color: #fff; }
    /* line 298, ../sass/layout.scss */
    .bg_info_bord .btn_next a {
      color: #fff; }
  /* line 302, ../sass/layout.scss */
  .bg_info_bord .btn_send {
    display: inline-block;
    width: 280px;
    margin: 0 auto;
    padding: 10px;
    background: #134da9;
    text-align: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 1px 1px 0 0 #ccc;
    -moz-box-shadow: 1px 1px 0 0 #ccc;
    -webkit-box-shadow: 1px 1px 0 0 #ccc;
    color: #fff; }
    /* line 316, ../sass/layout.scss */
    .bg_info_bord .btn_send a {
      color: #fff; }
  /* line 320, ../sass/layout.scss */
  .bg_info_bord .btn_back {
    display: inline-block;
    width: 280px;
    margin-right: 10px;
    padding: 10px;
    background: #f0f0f0;
    text-align: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 1px 1px 0 0 #ccc;
    -moz-box-shadow: 1px 1px 0 0 #ccc;
    -webkit-box-shadow: 1px 1px 0 0 #ccc; }
  /* line 335, ../sass/layout.scss */
  .bg_info_bord li {
    font-size: 12px; }
  /* line 338, ../sass/layout.scss */
  .bg_info_bord input,
  .bg_info_bord select,
  .bg_info_bord textarea {
    padding: 10px;
    /* border-radius */
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }

/* line 348, ../sass/layout.scss */
.contents {
  max-width: 960px;
  margin: 0 auto; }

/* line 351, ../sass/layout.scss */
.table_list {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #562734;
  margin-bottom: 20px;
  background: #fff; }
  /* line 357, ../sass/layout.scss */
  .table_list tr {
    border-bottom: 1px solid #562734; }
  /* line 363, ../sass/layout.scss */
  .table_list th {
    width: 20%;
    padding: 13px 12px;
    text-align: center;
    vertical-align: top; }
  /* line 369, ../sass/layout.scss */
  .table_list td {
    font-size: 0.9em;
    padding: 13px 12px; }
  /* line 373, ../sass/layout.scss */
  .table_list li {
    margin-bottom: 5px; }

/* line 377, ../sass/layout.scss */
.pint_list {
  background: #e1432a;
  color: #fff;
  margin-right: 10px;
  padding: 2px 10px;
  /* border-radius */
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

/* line 387, ../sass/layout.scss */
.eventpint_list {
  background: #0C3;
  color: #fff;
  margin-right: 10px;
  padding: 2px 10px;
  /* border-radius */
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

/*ヘッダ
------------------------------------------------*/
/* line 399, ../sass/layout.scss */
header {
  position: relative;
  z-index: 1; }

/* line 403, ../sass/layout.scss */
.top_main_logo {
  max-width: 960px;
  margin: 0 auto;
  position: relative; }

/* line 407, ../sass/layout.scss */
.main_logo {
  position: absolute;
  top: 0;
  left: 0; }

/* line 412, ../sass/layout.scss */
.sabmanu {
  background: #000;
  padding: 25px 0 10px; }
  /* line 415, ../sass/layout.scss */
  .sabmanu div {
    max-width: 960px;
    margin: 0 auto;
    padding-right: 40px; }
  /* line 419, ../sass/layout.scss */
  .sabmanu ul {
    float: right; }
  /* line 422, ../sass/layout.scss */
  .sabmanu li {
    float: left;
    font-size: 0.8em; }
  /* line 426, ../sass/layout.scss */
  .sabmanu a {
    color: #fff; }
  /* line 429, ../sass/layout.scss */
  .sabmanu .icon_catch {
    background: url(../img/icon_mail.png) no-repeat left center;
    padding: 0 15px 0 22px;
    background-size: 17px; }
  /* line 434, ../sass/layout.scss */
  .sabmanu .icon_catch_get {
    background: url(../img/icon_mail_get.png) no-repeat left center;
    padding: 6px 15px 3px 24px;
    background-size: 21px; }
  /* line 439, ../sass/layout.scss */
  .sabmanu .icon_star {
    background: url(../img/icon_star.png) no-repeat left center;
    padding: 0 15px; }
  /* line 443, ../sass/layout.scss */
  .sabmanu .icon_key {
    background: url(../img/icon_kye.png) no-repeat left center;
    padding: 0 15px; }

/* line 448, ../sass/layout.scss */
.mainmanu {
  background: #ed7e99;
  padding: 20px 0 14px; }
  /* line 452, ../sass/layout.scss */
  .mainmanu div {
    max-width: 960px;
    margin: 0 auto;
    padding-right: 20px; }
  /* line 456, ../sass/layout.scss */
  .mainmanu ul {
    float: right; }
  /* line 459, ../sass/layout.scss */
  .mainmanu li {
    float: left;
    color: #fff;
    font-size: 0.8em; }
  /* line 464, ../sass/layout.scss */
  .mainmanu a {
    color: #fff;
    padding: 0 20px; }

/*ログイン
------------------------------------------------*/
/* line 471, ../sass/layout.scss */
#login {
  padding-top: 60px; }

/* line 474, ../sass/layout.scss */
.bg_opacity_white {
  background-color: white;
  margin-bottom: 22px;
  border: #e85d61 2px solid;
  padding: 25px 20px;
  color: #e85d61;
  width: 300px;
  margin: 0 auto; }
  /* line 482, ../sass/layout.scss */
  .bg_opacity_white h3 {
    margin-bottom: 15px; }
  /* line 485, ../sass/layout.scss */
  .bg_opacity_white p {
    margin-bottom: 10px; }
  /* line 488, ../sass/layout.scss */
  .bg_opacity_white a {
    color: #e85d61;
    font-size: 0.73em;
    text-decoration: underline; }
  /* line 493, ../sass/layout.scss */
  .bg_opacity_white dt {
    margin-bottom: 5px; }
  /* line 496, ../sass/layout.scss */
  .bg_opacity_white dd {
    margin-bottom: 10px; }
    /* line 498, ../sass/layout.scss */
    .bg_opacity_white dd input {
      width: 260px;
      padding: 13px; }
  /* line 503, ../sass/layout.scss */
  .bg_opacity_white dd:last-child {
    margin-bottom: 20px; }
  /* line 506, ../sass/layout.scss */
  .bg_opacity_white input {
    /* box-shadow */
    box-shadow: 1px 1px 0 0 #bbb inset;
    -moz-box-shadow: 1px 1px 0 0 #bbb inset;
    -webkit-box-shadow: 1px 1px 0 0 #bbb inset; }

/*ログアウト
------------------------------------------------*/
/* line 517, ../sass/layout.scss */
.logout h2 {
  padding-left: 37px;
  background: url(../img/icon_logout.png) no-repeat 4px 4px;
  background-size: 26px; }

/* line 524, ../sass/layout.scss */
.btn_page_top {
  width: 280px;
  margin: 0 auto;
  padding: 10px;
  background: #f0f0f0;
  text-align: center;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: #e0e0e0 1px solid;
  /* box-shadow */
  box-shadow: 1px 1px 0 0 #ccc;
  -moz-box-shadow: 1px 1px 0 0 #ccc;
  -webkit-box-shadow: 1px 1px 0 0 #ccc; }

/*メインビジュアル
------------------------------------------------*/
/* line 541, ../sass/layout.scss */
.main_img {
  background: #000; }

/* line 544, ../sass/layout.scss */
.top_slider {
  width: 1500px;
  margin: 0 auto; }

/* line 548, ../sass/layout.scss */
.bx-controls-direction {
  display: none; }

/*サイドメニュー
------------------------------------------------*/
/* line 554, ../sass/layout.scss */
.side_menu {
  width: 240px;
  float: left; }

/* line 558, ../sass/layout.scss */
.bg_opacity_white_1, .bg_opacity_white_2, .bg_opacity_white_3, .bg_opacity_white_4 {
  background-color: white;
  margin-bottom: 22px; }

/* line 562, ../sass/layout.scss */
.bg_opacity_white_1 {
  border: #e85d61 2px solid;
  padding: 25px 20px;
  color: #e85d61; }
  /* line 566, ../sass/layout.scss */
  .bg_opacity_white_1 h3 {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 15px; }
  /* line 571, ../sass/layout.scss */
  .bg_opacity_white_1 p {
    margin-bottom: 10px; }
  /* line 574, ../sass/layout.scss */
  .bg_opacity_white_1 a {
    color: #e85d61;
    font-size: 0.73em;
    text-decoration: underline; }

/* line 581, ../sass/layout.scss */
.login_dl dt {
  font-size: 0.8em; }
/* line 585, ../sass/layout.scss */
.login_dl dd {
  margin-bottom: 8px; }
  /* line 587, ../sass/layout.scss */
  .login_dl dd input {
    width: 180px;
    padding: 8px; }
/* line 592, ../sass/layout.scss */
.login_dl dd:last-child {
  margin-bottom: 13px; }

/* line 596, ../sass/layout.scss */
.bg_opacity_white_2 {
  border: #479ab2 2px solid;
  text-align: center;
  padding: 13px 0; }

/* line 601, ../sass/layout.scss */
.bg_opacity_white_3 {
  border: #f39800 2px solid;
  text-align: center;
  padding: 8px 0; }

/* line 606, ../sass/layout.scss */
.bg_opacity_white_4 {
  border: #134da9 2px solid;
  padding: 20px;
  color: #134da9; }
  /* line 610, ../sass/layout.scss */
  .bg_opacity_white_4 h3 {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 9px; }
  /* line 615, ../sass/layout.scss */
  .bg_opacity_white_4 p {
    margin-bottom: 5px; }
  /* line 618, ../sass/layout.scss */
  .bg_opacity_white_4 a {
    color: #134da9;
    font-size: 0.73em;
    text-decoration: underline; }

/*トップページ
------------------------------------------------*/
/* line 626, ../sass/layout.scss */
.mainvisual {
  background: url(../img/bg_rose.jpg) repeat-x center top;
  background-size: cover; }
  /* line 631, ../sass/layout.scss */
  .mainvisual h2 {
    padding: 25px 0 20px;
    text-align: center; }

/* line 637, ../sass/layout.scss */
.top_features {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 60px; }
  /* line 640, ../sass/layout.scss */
  .top_features li {
    display: inline;
    margin-right: 24px; }
  /* line 644, ../sass/layout.scss */
  .top_features li:last-child {
    margin-right: 0; }

/* line 649, ../sass/layout.scss */
.choice_genre h3 {
  text-align: center;
  padding: 25px 0 20px; }

/* line 654, ../sass/layout.scss */
.choice_genre_ul {
  padding-bottom: 20px; }
  /* line 656, ../sass/layout.scss */
  .choice_genre_ul li {
    display: inline;
    margin-right: 9px; }
  /* line 660, ../sass/layout.scss */
  .choice_genre_ul li:last-child {
    margin-right: 0; }

/* line 664, ../sass/layout.scss */
.choice_area {
  padding-bottom: 50px; }
  /* line 666, ../sass/layout.scss */
  .choice_area h3 {
    text-align: center;
    padding: 20px 0; }

/* line 671, ../sass/layout.scss */
.choice_area_ul {
  padding-bottom: 60px; }
  /* line 673, ../sass/layout.scss */
  .choice_area_ul li {
    display: inline;
    margin-right: -3px; }
  /* line 677, ../sass/layout.scss */
  .choice_area_ul li:nth-child(5n) {
    margin-right: 0; }

/* line 681, ../sass/layout.scss */
.on_genre_check {
  display: none; }

/* line 684, ../sass/layout.scss */
.on_genre {
  position: relative; }
  /* line 686, ../sass/layout.scss */
  .on_genre .on_genre_check {
    display: block;
    position: absolute;
    left: 3px;
    top: -116px; }

/* line 693, ../sass/layout.scss */
.on_area {
  position: relative; }
  /* line 699, ../sass/layout.scss */
  .on_area .on_genre_check {
    display: block;
    position: absolute;
    left: 4px;
    top: -41px; }

/*フッター
------------------------------------------------*/
/* line 710, ../sass/layout.scss */
.footermanu {
  background: #000;
  padding: 20px 0 10px; }
  /* line 713, ../sass/layout.scss */
  .footermanu div {
    max-width: 960px;
    margin: 0 auto; }
  /* line 716, ../sass/layout.scss */
  .footermanu ul {
    float: left; }
  /* line 719, ../sass/layout.scss */
  .footermanu li {
    float: left;
    color: #fff;
    font-size: 0.75em; }
  /* line 724, ../sass/layout.scss */
  .footermanu a {
    color: #fff;
    padding: 0 20px; }

/* line 729, ../sass/layout.scss */
.copyright {
  color: #fff;
  text-align: right;
  padding: 10px 0 100px;
  font-size: 0.7em; }

/*絞り込み2ページ目
------------------------------------------------*/
/* line 738, ../sass/layout.scss */
#genre .mainbody {
  padding-top: 60px; }

/* line 742, ../sass/layout.scss */
.shiborikomi_page02 {
  width: 680px;
  float: right; }

/* line 746, ../sass/layout.scss */
.shiborikomi_step {
  display: table;
  background: #000;
  padding: 9px 15px 9px 0;
  width: 97.8%;
  text-align: center; }
  /* line 752, ../sass/layout.scss */
  .shiborikomi_step p {
    display: table-cell;
    color: #fff;
    opacity: 0.95; }
  /* line 757, ../sass/layout.scss */
  .shiborikomi_step .hear {
    font-weight: bold;
    opacity: 1;
    text-decoration: underline; }
  /* line 762, ../sass/layout.scss */
  .shiborikomi_step .heartitle {
    color: #fff;
    opacity: 1;
    font-size: 1.38em;
    font-weight: bold; }
  /* line 774, ../sass/layout.scss */
  .shiborikomi_step img {
    vertical-align: middle; }

/* line 778, ../sass/layout.scss */
.shiborikomi_genre {
  background: #ed7e99;
  padding: 20px;
  border: 1px solid #000; }

/* line 783, ../sass/layout.scss */
.shiborikomi_genre_01, .shiborikomi_genre_02 {
  background-color: white;
  border: 1px solid #562734;
  /* box-shadow */
  box-shadow: 2px 2px 0px 0px #562734;
  -moz-box-shadow: 2px 2px 0px 0px #562734;
  -webkit-box-shadow: 2px 2px 0px 0px #562734;
  padding: 20px; }
  /* line 791, ../sass/layout.scss */
  .shiborikomi_genre_01 h3, .shiborikomi_genre_02 h3 {
    font-size: 1.25em;
    font-weight: bold;
    padding: 0 0 2px 30px;
    border-bottom: 1px solid #806c3c;
    color: #806c3c;
    margin-bottom: 13px; }

/* line 801, ../sass/layout.scss */
.shiborikomi_genre_01 {
  margin-bottom: 20px; }
  /* line 803, ../sass/layout.scss */
  .shiborikomi_genre_01 h3 {
    background: url(../stores/img/icon_zyouken.png) no-repeat left 4px; }
    /* line 805, ../sass/layout.scss */
    .shiborikomi_genre_01 h3 span {
      float: right;
      padding: 5px 8px;
      background: #fc982e;
      font-size: 0.5em;
      font-weight: normal;
      /* border-radius */
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px; }
      /* line 815, ../sass/layout.scss */
      .shiborikomi_genre_01 h3 span a {
        color: #fff; }
  /* line 820, ../sass/layout.scss */
  .shiborikomi_genre_01 li {
    color: #fff;
    float: left;
    margin: 0 6px 4px 0;
    padding: 2px 20px;
    /* border-radius */
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
  /* line 830, ../sass/layout.scss */
  .shiborikomi_genre_01 .page01_select_huzoku {
    background: #fd468c; }
  /* line 833, ../sass/layout.scss */
  .shiborikomi_genre_01 .page01_select_girl {
    background: #841d95; }
  /* line 836, ../sass/layout.scss */
  .shiborikomi_genre_01 .page01_select_hosuto {
    background: #4fb3cf; }
  /* line 839, ../sass/layout.scss */
  .shiborikomi_genre_01 .page01_select_area {
    background: #ed7e99; }

/* line 844, ../sass/layout.scss */
.shiborikomi_genre_02 h3 {
  background: url(../stores/img/icon_category.png) no-repeat left 3px; }
  /* line 846, ../sass/layout.scss */
  .shiborikomi_genre_02 h3 span {
    float: right;
    padding: 5px 8px 5px 25px;
    background: #479ab2 url(../img/icon_star.png) no-repeat 9px 7px;
    font-size: 0.5em;
    font-weight: normal;
    /* border-radius */
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
    /* line 856, ../sass/layout.scss */
    .shiborikomi_genre_02 h3 span a {
      color: #fff; }

/* line 862, ../sass/layout.scss */
.shiborikomi_genre_03 {
  margin-bottom: 20px; }
  /* line 864, ../sass/layout.scss */
  .shiborikomi_genre_03 li {
    float: left;
    width: 29.5%;
    margin-right: 5%;
    border: #134da9 1px solid;
    /* border-radius */
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
  /* line 874, ../sass/layout.scss */
  .shiborikomi_genre_03 li:last-child {
    margin-right: 0; }

/* line 879, ../sass/layout.scss */
.shiborikomi_genre_04 dt {
  font-size: 1.1em;
  background: #134da9;
  overflow: hidden;
  text-align: center;
  padding: 5px 0;
  color: #fff; }
/* line 887, ../sass/layout.scss */
.shiborikomi_genre_04 dd {
  font-size: 0.9em;
  color: #464646;
  padding: 10px; }
/* line 892, ../sass/layout.scss */
.shiborikomi_genre_04 p {
  padding-bottom: 5px;
  text-align: center; }
/* line 896, ../sass/layout.scss */
.shiborikomi_genre_04 p:last-child {
  padding-bottom: 0; }
/* line 899, ../sass/layout.scss */
.shiborikomi_genre_04 .on {
  background: #ff9900;
  border-radius: 11px;
  text-align: center;
  padding: 5px; }

/* line 906, ../sass/layout.scss */
.genrelist {
  padding: 10px 0 0 0;
  font-weight: 800;
  font-size: 110%; }

/* line 911, ../sass/layout.scss */
.genrelist p {
  display: table; }

/* line 914, ../sass/layout.scss */
.genrelist a {
  float: left;
  width: 41%;
  /* text-align: center; */
  margin: 0 3% 3px 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #134da9;
  border-bottom: 4px solid #134da9;
  color: #fff;
  background: #134da9 url(../img/icon_genre_blue_on.png) no-repeat 13px 11px;
  background-size: 18px;
  padding: 9px 0 7px 42px; }

/* line 930, ../sass/layout.scss */
.genrelist a:nth-child(2n) {
  margin: 0 0 3px 0; }

/* line 933, ../sass/layout.scss */
.genrelist a.active {
  color: #134da9;
  background: #fff url(../img/icon_genre_blue.png) no-repeat 13px 11px;
  background-size: 18px; }

/* line 938, ../sass/layout.scss */
.selectbtn {
  font-weight: 800;
  font-size: 120%; }

/* line 942, ../sass/layout.scss */
.selectbtn li {
  width: 48%;
  margin: 0 3% 3px 0;
  position: relative;
  float: left; }

/* line 949, ../sass/layout.scss */
.selectbtn li:nth-child(2n) {
  margin: 0 0 3px 0; }

/* line 952, ../sass/layout.scss */
.selectbtn li input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; }

/* line 958, ../sass/layout.scss */
.selectbtn li label {
  border: 1px solid #FF4504;
  border-bottom: 4px solid #FF4504;
  color: #fff;
  font-size: 1em;
  display: block;
  /* text-align: center; */
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #FF4504 url(../img/icon_genre_ore_on.png) no-repeat 17px 12px;
  background-size: 10px;
  padding: 9px 0 7px 40px; }

/* line 973, ../sass/layout.scss */
.selectbtn li label.active {
  background: #fff url(../img/icon_genre_ore.png) no-repeat 17px 12px;
  background-size: 10px;
  padding: 8px 0 8px 40px; }

/*絞り込み3ページ目
----------------------------------------------*/
/* line 980, ../sass/layout.scss */
.page01_select_genre {
  background: #134da9; }

/* line 986, ../sass/layout.scss */
.shiborikomi_area_02 {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #562734;
  margin-bottom: 20px; }
  /* line 991, ../sass/layout.scss */
  .shiborikomi_area_02 tr {
    border-bottom: 1px solid #562734; }
  /* line 994, ../sass/layout.scss */
  .shiborikomi_area_02 th {
    text-align: left;
    width: 28%;
    padding: 13px 12px;
    background: #fad8e1; }
  /* line 1000, ../sass/layout.scss */
  .shiborikomi_area_02 td {
    font-size: 0.9em;
    padding: 13px 12px;
    background: #fff; }

/*店舗一覧
----------------------------------------------*/
/* line 1008, ../sass/layout.scss */
.shiborikomi_shop_01 {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #562734;
  margin-bottom: 20px;
  background: #fff; }
  /* line 1014, ../sass/layout.scss */
  .shiborikomi_shop_01 tr {
    border-bottom: 1px solid #562734; }
  /* line 1020, ../sass/layout.scss */
  .shiborikomi_shop_01 th {
    width: 20%;
    padding: 13px 12px;
    text-align: center; }
  /* line 1025, ../sass/layout.scss */
  .shiborikomi_shop_01 td {
    font-size: 0.9em;
    padding: 13px 12px;
    position: relative; }
    /* line 1029, ../sass/layout.scss */
    .shiborikomi_shop_01 td .new_news {
      padding-top: 3px;
      width: 70px;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      color: #f43d6e;
      position: absolute;
      top: 13px;
      right: 10px;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      box-sizing: border-box;
      border: 2px solid #f43d6e; }
  /* line 1046, ../sass/layout.scss */
  .shiborikomi_shop_01 li {
    margin-bottom: 5px; }

/* line 1050, ../sass/layout.scss */
.narabekae {
  margin-bottom: 15px;
  padding: 15px;
  background: #eee; }
  /* line 1054, ../sass/layout.scss */
  .narabekae p, .narabekae select {
    float: left;
    color: #594f49; }
  /* line 1058, ../sass/layout.scss */
  .narabekae p {
    margin-right: 20px;
    font-weight: bold; }
  /* line 1062, ../sass/layout.scss */
  .narabekae select {
    padding: 10px; }

/*店舗詳細ページ
-----------------------------------------------*/
/* line 1068, ../sass/layout.scss */
.store_detail_point, .store_detail_news, .store_detail_outline, .store_detail_officialsite, .store_detail_staff {
  margin-bottom: 50px; }
  /* line 1070, ../sass/layout.scss */
  .store_detail_point h4, .store_detail_news h4, .store_detail_outline h4, .store_detail_officialsite h4, .store_detail_staff h4 {
    font-size: 1.18em;
    font-weight: bold;
    color: #f23064;
    margin-bottom: 5px; }

/* line 1077, ../sass/layout.scss */
.box_point {
  padding: 15px;
  margin-bottom: 10px;
  border: #bbb 1px solid;
  /* border-radius */
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  position: relative; }
  /* line 1086, ../sass/layout.scss */
  .box_point .new_news {
    padding-top: 3px;
    width: 70px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #f43d6e;
    position: absolute;
    top: 13px;
    right: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-sizing: border-box;
    border: 2px solid #f43d6e; }
  /* line 1102, ../sass/layout.scss */
  .box_point h5 {
    background: #806c3c;
    padding: 8px;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 12px;
    color: #fff; }

/* line 1111, ../sass/layout.scss */
.course_point {
  font-size: 1.4em;
  font-weight: bold;
  color: #000;
  padding: 15px 20px 11px;
  margin-bottom: 10px;
  background: #ffff46;
  width: 40%;
  text-align: center;
  border: #ffff00 2px solid;
  /* border-radius */
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

/* line 1126, ../sass/layout.scss */
.box_point_info {
  margin-bottom: 20px; }
  /* line 1128, ../sass/layout.scss */
  .box_point_info h6 {
    color: #806c3c;
    font-weight: bold; }

/* line 1135, ../sass/layout.scss */
.store_detail_news span {
  float: right;
  padding: 5px 8px 5px 25px;
  background: #479ab2 url(../img/icon_star.png) no-repeat 9px 7px;
  font-size: 0.5em;
  font-weight: normal;
  /* border-radius */
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  /* line 1145, ../sass/layout.scss */
  .store_detail_news span a {
    color: #fff; }

/* line 1151, ../sass/layout.scss */
.shiborikomi_area_03 {
  width: 100%;
  border-collapse: collapse; }
  /* line 1154, ../sass/layout.scss */
  .shiborikomi_area_03 tr {
    border: 1px solid #999; }
  /* line 1157, ../sass/layout.scss */
  .shiborikomi_area_03 th {
    text-align: left;
    width: 28%;
    padding: 13px 12px;
    background: #fae8e8; }
  /* line 1163, ../sass/layout.scss */
  .shiborikomi_area_03 td {
    border: 1px solid #999;
    font-size: 0.9em;
    padding: 13px 12px;
    background: #fff; }

/* line 1170, ../sass/layout.scss */
.newwindow {
  padding: 0 0 5px 28px;
  background: url(../img/icon_newwindow.png) no-repeat 9px 4px;
  background-size: 14px; }
  /* line 1171, ../sass/layout.scss */
  .newwindow a {
    color: #0097e3; }

/* line 1178, ../sass/layout.scss */
.stopr_linkbtn {
  font-size: 1.2em;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  width: 80%;
  margin: 10px auto;
  background: #f23064;
  /* border-radius */
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  /* line 1190, ../sass/layout.scss */
  .stopr_linkbtn a {
    color: #fff; }

/*予約
----------------------------------------------*/
/* line 1197, ../sass/layout.scss */
.reservation_use_point h4, .form_confirm h4 {
  background: url(../img/icon_wing.png) no-repeat 3px 3px;
  font-size: 1em;
  font-weight: bold;
  padding: 0 0 0 27px;
  border-bottom: 1px dotted #806c3c;
  color: #806c3c;
  margin-bottom: 13px;
  background-size: 17px; }
/* line 1207, ../sass/layout.scss */
.reservation_use_point input,
.reservation_use_point select,
.reservation_use_point textarea, .form_confirm input,
.form_confirm select,
.form_confirm textarea {
  /* border-radius */
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

/* line 1216, ../sass/layout.scss */
.icon-calendar {
  margin-left: 6px; }

/*予約完了
----------------------------------------------*/
/* line 1221, ../sass/layout.scss */
.point_code7 {
  font-size: 1.3em;
  font-weight: bold;
  color: #fff;
  width: 50%;
  text-align: center;
  padding: 15px 20px 11px;
  margin: 0 auto 20px;
  background: #f23064;
  /* border-radius */
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

/* line 1235, ../sass/layout.scss */
.point_code_info {
  background: #eee;
  /* border-radius */
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 15px; }
  /* line 1242, ../sass/layout.scss */
  .point_code_info p {
    line-height: 1.8; }

/*確認画面
---------------------------------------------------------*/
/* line 1249, ../sass/layout.scss */
.form_confirm h4 {
  margin-bottom: 3px; }
/* line 1252, ../sass/layout.scss */
.form_confirm .form_confirm_btn {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  width: 80%;
  margin: 10px auto 0;
  padding: 0; }
  /* line 1259, ../sass/layout.scss */
  .form_confirm .form_confirm_btn a {
    background: #f23064;
    padding: 8px 15px;
    float: left;
    width: 40%;
    /* border-radius */
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff; }
/* line 1271, ../sass/layout.scss */
.form_confirm .form_confirm_btn a:first-child {
  margin-right: 5%;
  background: #134da9; }

/*キャッチメール　返信店舗一覧
---------------------------------------------------------*/
/* line 1278, ../sass/layout.scss */
.chach_message {
  padding: 15px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  background: #fff;
  color: #f01d31;
  font-weight: bold;
  border: #f01d31 1px solid;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

/* line 1292, ../sass/layout.scss */
.chach_contact {
  font-weight: bold;
  padding: 8px 15px;
  text-align: center;
  margin: 10px auto;
  background: #f23064;
  /* border-radius */
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  /* line 1302, ../sass/layout.scss */
  .chach_contact a {
    color: #fff; }

/* line 1306, ../sass/layout.scss */
.catch_list {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #562734;
  margin-bottom: 20px;
  background: #fff; }
  /* line 1312, ../sass/layout.scss */
  .catch_list tr {
    border-bottom: 1px solid #562734; }
  /* line 1318, ../sass/layout.scss */
  .catch_list th {
    width: 37%;
    padding: 13px 12px;
    text-align: center;
    vertical-align: top; }
  /* line 1324, ../sass/layout.scss */
  .catch_list td {
    font-size: 0.9em;
    padding: 13px 12px; }
  /* line 1328, ../sass/layout.scss */
  .catch_list li {
    margin-bottom: 5px; }

/*退会画面
---------------------------------------------------------*/
/* line 1336, ../sass/layout.scss */
.btn_return_confirm {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  width: 80%;
  margin: 10px auto 0;
  padding: 0; }
  /* line 1343, ../sass/layout.scss */
  .btn_return_confirm a {
    background: #f23064;
    padding: 8px 15px;
    float: left;
    width: 40%;
    /* border-radius */
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff; }
  /* line 1354, ../sass/layout.scss */
  .btn_return_confirm a:first-child {
    margin-right: 5%;
    background: #134da9; }

/*ポイント履歴
---------------------------------------------------------*/
/* line 1361, ../sass/layout.scss */
.point_rireki_table {
  width: 100%;
  border-collapse: collapse; }
  /* line 1364, ../sass/layout.scss */
  .point_rireki_table tr {
    font-size: 0.9em;
    text-align: left; }
  /* line 1368, ../sass/layout.scss */
  .point_rireki_table th {
    font-weight: normal;
    width: 20%;
    border: 1px solid #999;
    padding: 5px 6px;
    background: #fae8e8; }
  /* line 1375, ../sass/layout.scss */
  .point_rireki_table td {
    border: 1px solid #999;
    padding: 5px 3px;
    background: #fff; }

/* line 1381, ../sass/layout.scss */
.pagination {
  text-align: center; }
  /* line 1383, ../sass/layout.scss */
  .pagination ul {
    display: inline-block; }
    /* line 1385, ../sass/layout.scss */
    .pagination ul li {
      color: #999999;
      background: #eee;
      display: inline;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      padding: 4px 12px;
      border: 1px solid #dddddd; }

/*パスワード変更
---------------------------------------------------------*/
/* line 1399, ../sass/layout.scss */
.pw_change {
  width: 50%;
  margin-bottom: 10px; }
  /* line 1402, ../sass/layout.scss */
  .pw_change input {
    float: right;
    width: 60%; }

/*今日のニュース検索
---------------------------------------------------------*/
/* line 1409, ../sass/layout.scss */
.select4btn {
  font-weight: 800;
  font-size: 1em; }

/* line 1413, ../sass/layout.scss */
.select4btn li {
  width: 19%;
  margin: 0 1% 3px 0;
  position: relative;
  float: left; }

/* line 1420, ../sass/layout.scss */
.select4btn li:nth-child(5n) {
  margin: 0 0 3px 0; }

/* line 1423, ../sass/layout.scss */
.select4btn li input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; }

/* line 1429, ../sass/layout.scss */
.select4btn li label {
  border: 1px solid #ed7e99;
  border-bottom: 4px solid #ed7e99;
  color: #fff;
  font-size: 1em;
  display: block;
  /* text-align: center; */
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  /* box-shadow */
  box-shadow: 1px 1px 0px 0px #562734;
  -moz-box-shadow: 1px 1px 0px 0px #562734;
  -webkit-box-shadow: 1px 1px 0px 0px #562734;
  background: #ed7e99 url(../img/icon_genre_ore_on.png) no-repeat 21px 13px;
  background-size: 8px;
  padding: 9px 0 7px 40px; }

/* line 1448, ../sass/layout.scss */
.select4btn li label.active {
  color: #ed7e99;
  background: #fff url(../img/icon_area.png) no-repeat 21px 13px;
  background-size: 8px;
  padding: 8px 0 8px 40px; }
